[2013-02-21 14:11] ghost opened #1 "Add a way to change PIT options"
I would like to exclude i.e. toString.
But as far as i can tell this is not possible right now.
 (PIT supports it, there shoudl be a way to change this in eclipse)

[2013-02-28 08:14] #1 closed, assigned to philglover

[2013-03-05 22:22] philglover opened #2 "Refactor from core into pitrunner"
Refactor as much from core into pitrunner in order to be able to test the code better

[2013-03-05 22:32] philglover opened #3 "Publish PitOptions to an extension point"
Expose an extension point for the execution of PitOptions.

Initial implementations:
1.  Running PIT!
2.  Verification by bdd.

[2013-03-06 21:25] philglover opened #4 "Update bdds to check correct options passed to PIT"
Dependant on #3

[2013-03-06 21:27] philglover opened #5 "Fix issue with running SWTBot bdd from mvn"
Currently we cannot run the bdds from maven as the eclipse platform created by SWTBot  is missing JUnit.

Either we're missing dependencies or need to base the tests on an STS platform bundle (for example).

[2013-03-06 21:29] philglover opened #6 "Change the Sonar build to run bdds for integration test coverage"
Use jacoco plugin and run the bdds.  To run with Sonar, we need to do a little jiggery pokery with the DISPLAY settings to get SWTBot to run correctly.

[2013-03-06 21:32] philglover opened #7 "Parse the mutations.xml file generated by PIT"
Parse the mutations xml output file and appropriately model the results to be sent back to the results UI extension point.

[2013-03-19 18:17] #2 closed, assigned to philglover

[2013-04-05 06:43] #4 closed, assigned to nobody

[2013-04-05 06:44] #3 closed, assigned to philglover

[2013-05-13 07:02] philglover opened #8 "Upgrade to PIT 0.30"
Upgrade to PIT 0.30

[2013-05-17 06:51] philglover opened #9 "Workspace launch mode does not show the results"
See forum posts below:

From: schilling@msoe.edu
Date:
To: pitusers@googlegroups.com
Subject: Re: PITView Report not being generated with PitClipse

As a followup for someone else who runs into this problem, we resolved it.  For some reason, on some students machine's, we needed to change the PITTest preferences from "Project Containing Test Only" to "All projects in the workspace".  Once we made

[2013-05-29 17:45] #8 closed, assigned to philglover

[2013-05-30 06:56] philglover opened #10 "Support avoidCallsTo"
Request on groups:

Subject: Does PITClipse support 'avoidCallsTo'?

I'm using PITclipse to run my PIT mutation tests, there are some lines I want to avoid mutations on. Is this possible using pitclipse at the moment?

[2013-06-14 14:39] ypetya opened #11 "Update site not available"
Pitclipse update site is not available
http://eclipse.pitest.org/release/ =>
_404 Not Found_

[2013-06-17 08:33] #11 closed, assigned to nobody

[2013-07-12 17:42] #5 closed, assigned to philglover

[2013-07-12 17:42] #10 closed, assigned to philglover

[2013-09-03 07:54] philglover opened #12 "Support Pit 0.31"
Support Pit 0.31

[2013-09-04 17:11] #12 closed, assigned to nobody

[2013-09-04 17:39] philglover opened #13 "Dependency on Jdom"

[2013-09-05 14:31] marinabilles opened #14 "java.net.SocketException: Connection reset when launching Mutation Testing"
I use Pitclipse 0.30.2.201307081826, which is the latest version supplied to me from the PITclipse repository at http://eclipse.pitest.org/release/ (The repository is activated and when I tell Eclipse to search for updates, I receive none.) My Eclipse version is Kepler.

Sometimes when I start PIT Mutation Testing on a project, I get the following error: It happened several times for me today but

[2013-09-05 17:36] #13 closed, assigned to nobody

[2013-09-16 17:45] philglover opened #15 "Release 0.31.2"

[2013-09-17 06:54] philglover opened #16 "Release 0.31.3"

[2013-09-27 20:58] eitzenbe opened #17 "avoidCallsTo not working in eclipse plugin"
I have a log method that should not be mutated but adding it to the Avoid Calls To field does NOT prevent pitclipse from reporting "survived" state of removed method mutations

I tried it with "log" and with "*log" is there any more in depth documentation about the format avail?

[2013-10-03 07:17] philglover opened #18 "Release 0.31.4"

[2013-10-03 07:39] #17 closed, assigned to nobody

[2013-10-03 07:47] philglover opened #19 "Refactor PitOptions"
PitOptions and it's test are ridiculously complex and can be simplified now we now we spawn PITRunner from eclipse rather than MutationCoverageReport directly.

[2013-10-31 00:06] TrevorBrennan opened #20 "Link to Update Site in README.md Broken"
When attempting to follow the link: http://eclipse.pitest.org/release/

The following page was loaded:

[code]

I am also wondering if the issue is causing the plugin to not be available in the Eclipse Marketplace.

[2014-01-06 14:06] ChristianSchwarz opened #21 "Provide a Launcher for Plugin-Test"
It would be cool, to be able to Test Eclipse-PlugIns with pitclipse. Currently it doesn't work because pitest is unable to resolve the dependencies.

[2014-01-06 19:02] #16 closed, assigned to nobody

[2014-01-06 19:02] #19 closed, assigned to nobody

[2014-01-06 19:03] philglover opened #22 "Support Pitest 0.32"
Release 0.32

[2014-01-07 17:54] #15 closed, assigned to nobody

[2014-01-15 09:19] #7 closed, assigned to philglover

[2014-01-15 09:19] #14 closed, assigned to philglover

[2014-01-15 09:19] #18 closed, assigned to nobody

[2014-01-15 09:20] philglover opened #23 "Release 0.32.1"

[2014-01-21 18:21] philglover opened #24 "Remove dependency on guava in runner"

[2014-01-21 18:24] #20 closed, assigned to nobody

[2014-02-20 21:08] #22 closed, assigned to nobody

[2014-02-20 21:08] #23 closed, assigned to nobody

[2014-02-20 21:19] philglover opened #25 "0.32.2 release"

[2014-03-03 20:25] #24 closed, assigned to nobody

[2014-03-03 20:25] #25 closed, assigned to nobody

[2014-03-03 20:28] philglover opened #26 "Update Pit to 0.33"

[2014-03-03 20:28] philglover opened #27 "Pitclipse 0.33.1 release"

[2014-03-04 08:36] philglover opened #28 "Decouple external dependencies from main build"

[2014-03-04 08:37] philglover opened #29 "Upgrade guava"

[2014-03-18 08:58] #26 closed, assigned to nobody

[2014-03-18 08:58] #27 closed, assigned to nobody

[2014-03-18 08:58] #29 closed, assigned to nobody

[2014-03-18 08:59] #28 closed, assigned to nobody

[2014-03-18 18:30] philglover opened #30 "Release 0.33.2"

[2014-03-18 18:38] philglover opened #31 "Mutation description to be shown in mutations view"

[2014-04-22 07:21] philglover opened #32 "Release 0.33.3"

[2014-04-22 07:22] philglover opened #33 "Jump to line number"

[2014-04-22 07:24] #30 closed, assigned to nobody

[2014-04-22 17:36] #31 closed, assigned to nobody

[2014-04-23 07:51] philglover opened #34 "Option to choose mutations to run"

[2014-05-13 07:53] philglover opened #35 "Should Pitclipse mutate default classes???"

[2014-06-27 18:06] #32 closed, assigned to nobody

[2014-06-27 18:06] #33 closed, assigned to nobody

[2014-07-07 19:34] #34 closed, assigned to nobody

[2014-07-07 19:42] philglover opened #36 "1.0.0 release candidate"

[2014-07-07 19:42] philglover opened #37 "Support Pit 1.0.0"

[2014-07-07 19:43] philglover opened #38 "Investigate issue with running mutation in webapp projects"

[2014-07-08 21:25] #38 closed, assigned to nobody

[2014-07-18 07:58] #9 closed, assigned to philglover

[2014-07-18 07:58] philglover opened #39 "Sign the plugin jars"

[2014-07-21 07:23] philglover opened #40 "Could not resolve module: org.pitest.pitclipse.core [885] Bundle was not resolved because of a uses contraint violation."
From Geff Chang on Pit User group

How do I fix this error?

!SESSION 2014-07-21 12:56:41.504 -----------------------------------------------
eclipse.buildId=4.4.0.I20140528-2000
java.version=1.6.0_37
java.vendor=Sun Microsystems Inc.
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Framework arguments:  -product org.eclipse.epp.package.jee.product
Command-line arguments:  -os win32

[2014-08-07 18:10] #39 closed, assigned to philglover

[2014-08-07 18:10] #40 closed, assigned to nobody

[2014-08-07 20:12] #37 closed, assigned to nobody

[2014-08-07 20:12] #36 closed, assigned to nobody

[2014-08-12 17:34] philglover opened #41 "Release 1.0.1"

[2014-08-12 17:54] philglover opened #42 "Remove dependency on java 6"

[2014-08-13 07:35] #42 closed, assigned to nobody

[2014-08-28 21:36] #35 closed, assigned to nobody

[2014-08-28 21:36] #41 closed, assigned to nobody

[2014-09-02 18:16] philglover opened #43 "Release 1.0.2"

[2014-09-19 08:30] szpak opened #44 "Broken link in README"
I don't know if it is still used, the but http://eclipse.pitest.org/release URL mentioned in the README file returns 404:

[code]

[2014-10-02 08:49] rillig-nm opened #45 "Provide more configuration options"
Pitclipse already provides configuration for several options, but not all that are mentioned on pitest.org. I miss especially the `timeoutConst` and `timeoutFactor` options, but the others also shouldn’t be too hard to implement. See http://pitest.org/quickstart/commandline/ for the full list.

[2014-10-14 17:46] #44 closed, assigned to nobody

[2014-10-14 17:47] #43 closed, assigned to nobody

[2014-10-14 17:48] philglover opened #46 "Release 1.1.0"

[2014-10-14 17:49] philglover opened #47 "Upgrade Pitest to 1.1.0"

[2014-10-21 07:21] #46 closed, assigned to nobody

[2014-10-21 07:21] #47 closed, assigned to nobody

[2014-10-28 18:51] philglover opened #48 "Prepare 1.1.1 Release"

[2015-01-08 13:10] velo commented on #45
Would be nice to have targetClasses option as well

[2015-02-09 21:30] #48 closed

[2015-02-09 21:31] #45 closed

[2015-02-10 08:53] philglover opened #49 "1.1.2 Release"

[2015-02-10 08:55] philglover opened #50 "Support Pitest 1.1.4"

[2015-02-24 09:20] #49 closed

[2015-02-24 09:20] #50 closed

[2015-03-03 03:03] john236 opened #51 "Update site is down"
The update site:

http://eclipse.pitest.org/release

seems to be down at the moment.

[2015-03-03 06:26] #51 closed

[2015-03-03 18:39] philglover opened #52 "Derive summary data"

[2015-03-03 18:45] philglover opened #53 "Release 1.1.3"

[2015-04-07 08:09] philglover opened #54 "Support Pitest 1.1.5"

[2015-04-07 08:11] philglover opened #55 "Investigate any problem with using 64-bit jdk + eclipse on Windows"
As per https://groups.google.com/d/msg/pitusers/lXZfpYZDYZw/G4BkhfXFGxEJ

[2015-05-07 14:13] philglover opened #56 "PitClipse install failing"
As a followup, I tried the Marketplace, and I'm receiving this error from there:

Cannot complete the install because one or more required items could not be found.
  Software being installed: Pitclipse 1.1.2.201502230916 (org.pitest.pitclipse.feature.feature.group 1.1.2.201502230916)
  Missing requirement: pitest-osgi 1.1.4 (org.pitest.osgi 1.1.4) requires 'package org.jdom 0.0.0' but it could no

[2015-05-15 21:09] #53 closed

[2015-05-15 21:09] #54 closed

[2015-05-15 21:09] #56 closed

[2015-05-18 08:49] philglover opened #57 "Release 1.1.4"

[2015-05-18 09:45] Bananeweizen commented on #21
The request is just about being able to run the mutation on tests which are normally executed via "Run as Junit *Plug-in* test", not via "Run as Junit test" (because they actually access the workbench etc.).
While the PIT menu is available there, it will just not work, because plugin test launch configurations Eclipse will use a different runner, different classpathes and so on. Pitclipse seems to

[2015-05-18 09:57] Bananeweizen opened #58 "NPE"
I have one plugin project in a large Eclipse workspace, where the PIT launch config throws an NPE, independent of whether I try running it on a test, package, source folder or what else. It works fine for other similar projects in the same workspace.
There are no related entries in the error log view or workspace log file. Anything I could check, enable more logging/tracing to see what caused the

[2015-06-12 13:32] philglover commented on #58
Sorry for the delay in looking at this.  The problem, as you correctly suggest, is because there is no code in this project at all - see the value classesToMutate=[] in the output.  Do you have the worskapce level testing option set?

[2015-06-15 09:54] Bananeweizen commented on #58
Thanks for that hint. I wasn't even aware of those preferences. No more exception now.

[2015-06-15 09:54] #58 closed

[2015-10-22 15:32] ghost opened #59 "update site"
It seems the update site is down (I get a 404 error). Can you please investigate?

[2015-10-26 09:06] taichi commented on #59
:+1:

[2015-10-26 09:39] hcoles commented on #59
I don't think the site is down. If you hit the URL with a browser you'll get a 404, but it appears to work fine from the eclipse update manager.

Think it might need an index.html page adding to avoid the confusion.

[2015-10-26 14:46] philglover commented on #59
I've updated the readme.  The preferred way to install is via Eclipse marketplace.  The update site is not viewable from a browser.

I have just tried the update site from an eclipse install locally and it seemed to work.   Can you confirm and close the issue?

Thanks

[2015-10-26 15:44] jfcorugedo opened #60 "Problem installing it into STS"
Whenever I try to install it into an STS 3.7.1 I alway get the following error:

No repository found containing: osgi.bundle,org.springframework.roo.wrapping.protobuf-java-lite,2.3.0.0001

[2015-10-26 16:15] taichi commented on #59
i already solve the problem.

[2015-10-29 21:58] philglover commented on #60
I use an older version of STS on debian with no issues.  Pitclipse doesn't have any dependencies on those packages so I can only assume this error is coming from the STS update site itself.  Have you been able to install any other plugins?

I will try to install 3.7.1 locally but won't have a chance to do this until next week.

[2015-10-29 21:59] #59 closed

[2015-11-09 18:23] philglover commented on #60
I have installed STS 3.7.1 on debian, installed the plugin from market place and can run PIT with no issues.  Can you confirm if you are still having issues?

[2015-11-09 19:22] jfcorugedo commented on #60
Yes, from marketplace I didn't have any problem.

Thanks!
El 9/11/2015 19:23, "philglover" <notifications@github.com> escribió:

[2015-11-12 12:58] #60 closed

[2015-11-13 22:29] tobiasbaum opened #61 "Include latest pitest version (1.1.7)"
Hi,

the most recent pitest version (1.1.7) contains some fixes and improvements compared to the currently integrated version. I would be happy if pitclipse could be updated to contain it.

Kind regards,
   Tobias Baum

[2015-11-17 17:53] grahamtt opened #62 "Can only navigate forward in the coverage report window"
A 'back' button would be very helpful

[2015-11-17 17:55] grahamtt opened #63 "Must have mutations and summary window open BEFORE running tests"
If I open the `PIT mutations` or `PIT Summary` windows after running the test suite, they are blank.

[2016-01-18 15:48] SteppXXL opened #64 "Cannot get a runnable plugin"
Hi there,

I failed in getting a plugin for my eclipse.

1. In marketplace there is an outdated (?) version (https://marketplace.eclipse.org/content/pitclipse ): 0.31.4.201401081810
1.1 it does not stop but stresses one core to 100%
[...]
17:02:53 PIT >> FINE : processed mutation in 52 ms.
17:02:53 PIT >> FINE : MutationIdentifier [location=Location [clazz=com.mercateo.catalog.deployment.server.co

[2016-01-19 09:09] philglover commented on #64
Hi,

Apologies, I'm currently in process of tidying up the build.  It's a complete mess in all honesty.

First things first, are you able to run pitest against your project using one of the other plugins e.g. ant or maven?

The version that installed via marketplace is the latest version, marketplace erroneously reports 0.31 for some reason.  You can confirm this by  checking in Help -> About -> I

[2016-01-19 15:46] SteppXXL commented on #64
Hi,

that means I won't consider building that plugin on my own because the latest version already is in the marketplace. Fine.

As mentioned on http://pitest.org/quickstart/maven/ PiTest runs well via maven (editing pom.xml and running mvn org.pitest:pitest-maven:mutationCoverage)

While I've been testing pitclipse with a simple code example it works - except of the error message "Browser cannot

[2016-01-20 09:12] philglover commented on #64
Could you check Window -> Preferences -> General -> Web Browser

If you are using an external browser, could you try setting it to the internal web browser and seeing what happens?

[2016-01-21 17:24] SteppXXL commented on #64
I cannot use the internal web browser - the radio button is disabled. Strange.

[2016-01-21 19:11] philglover commented on #64
Yes, that would certainly be a problem.  There are several guides for that issue - the actual issue depends on your OS and versions of eclipse etc but seems to hinge on libwebkitgtk.  Hopefully you can get it up and running.

In the medium term, the html view will go away.  The server side work is almost done for that, but I haven't looked at the UI controls yet.

[2016-04-19 06:54] #57 closed

[2016-06-01 09:16] marcelsinniger opened #65 "Directory does not exist"
Hi,

I get an error message about an incorrect path when I run a JUnit test with PITclipse (Run As -> PIT mutation test):
![image](https://cloud.githubusercontent.com/assets/4046828/15704119/67c6c4f0-27e9-11e6-8e7f-8617fa24621c.png)

I have two projects:
- One project with the code to mutate (source folder => C:\Users\msi\workspace\PITest Code to mutate\src)
- A Second project with the JUnit tests

[2016-06-10 06:15] #61 closed

[2016-06-10 06:35] philglover commented on #65
Revisiting the code that checks the classpath.  will let you know what I find.

[2016-07-05 16:36] philglover commented on #65
I have been able to recreate this manually by creating a source dir and then deleting it from the file system directly (while it still shows in eclipse).

A fix should be released shortly, in the meantime you can resolve this yourself by refreshing your project or deleting the unused source directory.

[2016-07-06 07:54] #65 closed

[2016-07-06 07:58] philglover commented on #55
No follow up issues reported.  I have recently been using pitclipse on Windows 10 & 64-bit jdk with no issues myself.

[2016-07-06 07:58] #55 closed

[2016-08-04 21:29] d215steinberg opened #66 "Pitclipse no longer available after upgrading from 1.1.3 to 1.1.6"
I just upgraded Pitclipse from 1.1.3 to 1.1.6 using the Eclipse Marketplace.  Pit Mutation now no longer appears in my context menus or in my Preferences menu.

I am running Eclipse 4.4 (Luna) on Ubuntu.

By the way, Eclipse **Installation Details** (**Plug-ins** tab) still lists the 1.1.3 components (**pitclipse-pitrunner 1.1.3**, **pitest-command-line-osgi 1.1.5**, **pitest-html-report-osgi 1.1.

[2016-08-05 13:48] AFulgens commented on #62
Context menu (right click) has a "Back" option. It's suboptimal, but works :)

[2016-08-05 16:03] jiteshvassa opened #67 "OptionParser exception"
I've recently started to see an exception when attempting to run the plugin through Eclipse Version: Mars.2 Release (4.5.2), Build id: 20160218-0600

Here's the full stack:

Exception in thread "main" java.lang.NoSuchMethodError: joptsimple.OptionParser.acceptsAll(Ljava/util/List;Ljava/lang/String;)Ljoptsimple/OptionSpecBuilder;
    at org.pitest.mutationtest.commandline.OptionsParser.<init>(Optio

[2016-08-07 21:07] philglover commented on #67
I'm on vacation and unable to look at this for a week.  Can I suggest you uninstall the plugin and install from the following update site http://eclipse.pitest.org/release-pre-juno/

[2016-08-07 21:08] philglover commented on #66
I'm on vacation and unable to look at this for a week. Can I suggest you uninstall the plugin and install from the following update site http://eclipse.pitest.org/release-pre-juno/

[2016-08-08 09:56] jiteshvassa commented on #67
Thanks, that resolves the issue.

[2016-08-08 17:17] philglover commented on #67
Glad to hear it.  I don't suppose the project exhibiting this issue is open source is it?  Would help me write a test to prevent it happening again.

[2016-08-09 09:01] jiteshvassa commented on #67
I'm afraid that the project isn't open source.

I'm wondering if the Eclipse installation may have been corrupted or perhaps the workspace, since I'm sure that I'd used it on that specific project before.

[2016-08-09 09:01] #67 closed

[2016-08-17 17:56] philglover commented on #67
I think this and #66 are the same issue.  If for some reason old versions of the plugins are there, I think it may load all of them.  Classic behaviour for NoSuchMethod Error.  Investigating #66 now.

[2016-08-18 18:55] philglover opened #68 "Jars are no longer signed"

[2016-08-18 18:57] philglover commented on #66
I'm sure you are right that the problem is due to the older versions being left behind.

I've reviewed the Eclipse docs and I'm still not sure why it is not picking the latest jars.  The API docs state that the highest version should be returned.

Could you try uninstalling the plugin and reinstalling from marketplace?

To uninstall Help -> About Eclipse -> Installation Details -> Installed Softwa

[2016-08-18 19:00] philglover opened #69 "Travis CI build"

[2016-11-22 13:14] philglover opened #70 "Inconsistent code style"
Having being developed in multiple IDEs the code style is now a bit of a mess.

We should use checkstyle to enforce style guidelines, using the google style as an initial starting point.

[2017-04-24 19:48] nitinkaveriappa opened #71 "How do we use the non default mutators in PIT?!"
The PIT documentation states that the below list of mutators are not activated. So I was wondering while using Pitclipse how do I enable or activate and use one of these deactivated mutators?
(deactivated by default)
Constructor Calls Mutator
Inline Constant Mutator
Non Void Method Calls Mutator
Remove Conditionals Mutator
Experimental Member Variable Mutator
Experimental Switch Mutator
URL for re

[2017-05-13 01:47] nitinkaveriappa commented on #71
Found the answer to my question. Just going to leave it here in case anyone else has the same question.
In Eclipse, go to Window > Preferences.
Under "Pitest" you have options for "Default Mutators," "Stronger Mutators," and "All Mutators."

[2017-05-13 01:47] #71 closed

[2017-07-20 08:53] yilativs opened #72 "fails to run tests on Eclipse Oxygen"
Fails to run tests on Eclipse Oxygen.
Execution throws exception to console:

[code]

[2017-07-20 22:37] velo commented on #72
For me it's failing a well, but it only prints

[code]

[2017-07-26 09:30] benhjt commented on #72
I can't even get it to install properly. It installs without any errors/warnings but then does not show up in any context menu to run a test class as a PIT mutation test.

[2017-11-27 22:06] velo commented on #72
FWIW, i build it locally to get it working

On Tue, 28 Nov 2017, 11:04 jenildesai25 <notifications@github.com> wrote:

[2017-11-27 22:07] jenildesai25 commented on #72
Can you tell me how to build it locally

[2018-03-08 09:49] simplecommand opened #73 "pitclipse does not work with Junit 5"
I migrated a project which had 100% Pit Test Coverage to Junit 5 and now I have 0 %. Eclemma Coverage is still 100%.

[2018-03-08 16:31] davidselvaraj commented on #72
I am also getting the same error.  I am using STS 3.9.2 and getting the same error as the original poster.
[code]

[2018-04-02 10:57] ricardojaferreira opened #74 "Always getting java.lang.IllegalArgumentException when running as PIT Mutation Test"
I am always getting the following errors when I try to run my jUnit tests with PIT.

I am using macOs High Sierra, with JDK 1.9 and with Eclipse Oxygen .2 Release 4.7; Pitclipse 0.31.4.201401081810 installed directly from the marketplace.

I have also tried with the lastest Eclipse Oxygen .3 Release and JDK1.10

`Connecting to: localhost/127.0.0.1:55327
Connected
Received request: PitRequest [opti

[2018-04-17 23:37] apes-ma commented on #74
I'm having exactly the same problem (with the same setup).

[2018-04-19 15:35] apes-ma commented on #74
I was using JUnit 5 for my tests; when I changed to JUnit 4, the problem disappeared.

[2018-04-19 17:55] ricarraf commented on #74
I am using Junit 4. I suspected that the problem is with the JDK version. Probably I have to downgrade to Java 8. I will try when I have some time.

[2018-06-18 14:48] TomasJuocepis commented on #74
I'm running into the same or a similar problem. I'm trying to run a mutation test using a Maven build using eclipse oxygen. I'm targeting Java 8. JUnit version is 4.12.

Exception:
`Exception in thread "main" java.lang.IllegalArgumentException
	at org.pitest.reloc.asm.ClassReader.<init>(Unknown Source)
	at org.pitest.reloc.asm.ClassReader.<init>(Unknown Source)
	at org.pitest.classinfo.ClassInfoVi

[2018-06-21 11:08] tobiasbaum commented on #74
I have the same issue after updating to Java 10 and Oxygen (from 8 and Mars). I guess this is due to Pitclipse using a pretty old version of Pit. The current Pit version is 1.4.0, the used version is 1.1.9

[2018-06-21 12:30] tobiasbaum commented on #74
PR https://github.com/philglover/pitclipse/pull/75 updates the PIT version. I have not checked yet if this really fixes the problem.

[2018-08-07 15:36] pulin-dani commented on #74
I am getting java.lang.IllegalArgumentException when I run mutation testing using pitEclipse plugin version 0.31.1.

I am using JUnit 4.11 & Java 1.8. I tried to downgrade Junit but got same exception. Don't know what is the reason.

[2019-01-22 12:31] argenstijn commented on #73
PLease fix this asap

[2019-04-20 16:38] alexrun commented on #73
@philglover are you available to see this issue?

[2019-06-03 12:49] LorenzoBettini commented on #74
Same problem with JUnit 4.12 and JDK 11:

[code]

[2019-06-04 08:35] LorenzoBettini opened #76 "Is this project still developed?"
I'm experiencing problems when using Java 11, as already reported in other issues. From what I understand, it should be enough to use an updated version of PIT (1.4.x).

I was trying to work on that but I cannot seem to import and develop Eclipse projects of pitclipse properly.

The last release dates back to 2016. Is this project still developed?

I see there's a fork, in particular this branch h

[2019-06-04 10:03] echebbi commented on #76
Hi @LorenzoBettini, I indeed started to contribute to the project. I am also in touch with @philglover to discuss the future of the project so I hope that a new version will be released in the incoming weeks.

Currently my changes mainly consist in upgrading dependencies' version in order to improve maintenability, I will focus on bug fixing afterwards.

I did not test my branch against Java 11 bu

[2019-06-05 11:37] LorenzoBettini commented on #76
Great news!
Please let me know if I can help somehow.

[2019-06-12 22:45] echebbi commented on #76
Thank you, any help will be greatly appreciated!

For now we asked to transfer the repository under the Pitest organization (https://github.com/hcoles/pitest/issues/619), I believe that things will progress quickly after that.

[2019-06-15 11:19] echebbi opened #77 "Provide project-specific preferences"
Currently Pitclipse only allows for workspace-scope preferences. However, it would be great to allow users to set their preferences per project.

In term of UI, this requires creating a [project property page](https://www.vogella.com/tutorials/EclipseProjectNatures/article.html#exercise-add-a-new-custom-property-page). This is not really complicated but sadly we cannot reuse the code written for t

[2019-06-15 11:34] echebbi opened #78 "Configure project-specific preferences from Maven POM"
This feature request depends on #77 (`Provide project-specific preferences`)

## Motivation

Pitest can be [configured through Maven](http://pitest.org/quickstart/maven/). Pitclipse should be able to extract the configuration from the POM in order to automatically set up project's preferences.

## Implementation

I have never attempted to create one but I believe that creating an [M2E](https://www

[2019-06-15 13:17] echebbi opened #79 "Automate deployment"
## Motivation

Pitclipse currently requires manual deployment in order to be available through its update site. This makes harder to provide updates and can thus slow down releases.

## Possible solution

We can overcome this by automating the deployment. For instance, Travis CI could be configured to deploy a new update site each time a tag is pushed to the master branch.

Additionally, we could

[2019-06-27 22:48] echebbi commented on #52
@philglover Could you add further details on this?

[2019-08-09 22:26] philglover commented on #79
It was manual upload to an S3 bucket.  @hcoles can grant you access I think.

I did briefly look into having Travis deploy to S3 a few years ago but it did require some S3 admin to do.  From having had a look at the docs again, it seems a little more intuitive than it did at the time.

Can I just say for the public record, the work and effort you have done @echebbi has been fantastic.  Thanks for

[2019-08-09 22:29] philglover commented on #79
Aha, just re-read things.  Yes publishing to bintray is also a good approach.

http://eclipse.pitest.org/release/ points at the S3 bucket - I assume again @hcoles  can point eclipse.pitest.org to bintray.

[2019-08-10 05:39] hcoles commented on #79
@philglover I assume I can too, although I have no memory of how I set this all up.

[2019-08-10 11:30] echebbi commented on #79
@philglover thank you for the acknowledgment, it is very much appreciated! I believe using Bintray would be way more convenient because I already have the snippets for creating and uploading composite update sites. That being said, I will take a look at S3.

@hcoles I'll keep you updated on my choice between S3 and Bintray; we'll see at that time what needs to be done exactly.

[2019-08-15 00:41] #70 closed

[2019-08-15 00:42] echebbi commented on #6
Fixed by #80

[2019-08-15 00:42] #6 closed

[2019-08-15 00:42] echebbi commented on #69
Travis CI is properly used as of PR #80

[2019-08-15 00:42] #69 closed

[2019-08-15 00:51] echebbi opened #81 "UI tests randomly fail"
When executed, some UI tests can fail unexpectedly. The following failures have been observed:

- the build enter an infinite loop,
- some assertions fail,
- unexpected exceptions are failed.

I believe that SWTBot is not always used properly, e.g. tests do not always wait for shells to close before moving on.

[2019-08-15 00:51] echebbi commented on #72
Fixed by #80. Will be included in the next release.

[2019-08-15 00:51] #72 closed

[2019-08-15 10:33] echebbi commented on #76
Hi @LorenzoBettini, PR #80 is finally merged and comes with a lot of updates. Feel free to check open issues and to read the [contribution guide](https://github.com/pitest/pitclipse/blob/master/CONTRIBUTING.md) if you're willing to help.

Can this issue be closed?

[2019-08-15 13:34] echebbi commented on #81
I believe that high priority should be given to this issue, so I'm going to investigate it.

[2019-08-15 21:03] echebbi opened #85 "Speed up UI tests"
## Motivation

UI tests are really slow and run for an average of 8 minutes. I believe that this time can be improved.

## Implementation

Currently, during UI tests a lot of projects, classes and methods are created. The process relies on SWTBot and mimic user's actions by, for instance, using wizards. This takes a lot of time.

We should be able to optimize this, for instance by creating the pro

[2019-08-16 12:53] echebbi commented on #73
I don't have the time to fix this issue at the moment, but I believe that it should not be too complicated. If anyone is willing to give it a try, here are the main steps:

1. Download the latest [pitest-junit5-plugin](https://github.com/pitest/pitest-junit5-plugin) as a JAR and add it to the _org.pitest_ bundle
2. When a new PIT analysis is run with JUnit 5, dynamically add the `pitest-junit5-plu

[2019-08-19 09:06] echebbi commented on #81
It seems that I managed to fix the random exceptions, but the build still hangs from time to time. Logs don't show anything useful so I don't know why yet; I will try to reproduce the problem locally.

[code]

[2019-08-21 13:07] echebbi commented on #81
After a few tests it seems that the test hangs because the `SummaryView` is never updated with Pitest's results:
- [https://travis-ci.com/pitest/pitclipse/builds/123852455](https://travis-ci.com/pitest/pitclipse/builds/123852455)

I'll try to figure out why.

[2019-09-27 09:45] LorenzoBettini commented on #76
Hi @echebbi but the new version hasn't been released in the update site, has it?

[2019-10-01 20:38] echebbi commented on #81
Reporting progress so far:
 1. Managed to display PIT logs during Maven build.
 2. Fixed a random test failure due to a temporal issue between a text editor opened in background and a test responsible of asserting that the editor was properly opened: the test was sometimes run *before* the editor actually opened.
 3. Found out the reason why tests sometimes hang until Travis CI kill the job: an *E

[2019-10-01 20:47] echebbi commented on #76
Hi,

Indeed, sorry about that: I didn't take the time to work on #79 yet. I plan do this in this incoming days though.

I was suggesting closing the issue because of the title you gave it: even if I do not have as much free time as I would, I can confirm that the project is still develop. Do you prefer keeping it open until a new Pitclipse release fixes the issues you mentioned?

[2019-10-02 09:30] LorenzoBettini commented on #76
You're right about the now misleading title, but I'd be tempted to keep it open until the new version is released :)

[2019-10-02 09:35] echebbi commented on #76
Alright then, I'll keep you updated.

[2019-10-04 23:06] echebbi commented on #72
The new `2.0.0` release is finally here and should fix the issue: https://github.com/pitest/pitclipse/releases/tag/v2.0.0

[2019-10-04 23:14] echebbi commented on #76
I just deployed the new `2.0.0` release #87, you can install it from the following update site:

- https://dl.bintray.com/kazejiyu/Pitclipse/updates/

I tested it on Mars 2 & 2019-09 with both Java 1.8 and Java 12; Pitclipse works as expected with standard Java projects. However, projects using Java 9 modules are not supported yet.

If the current release suits your needs I'll close this issue and

[2019-10-04 23:28] echebbi commented on #79
Hi @hcoles, I just deployed the new `2.0.0` release to https://dl.bintray.com/kazejiyu/Pitclipse/updates/, do you think that you could redirect http://eclipse.pitest.org/release/ to this address?

[2019-10-05 07:49] hcoles commented on #79
To be honest not sure. Just looked at what I setup for the current update site many many years ago.

I currently have a CNAME record that points eclipse.pitest.org to an S3 bucket. The rest of the site is hosted on github pages.

If bintray supports it, and you can tell me what the value should be, I can add a CNAME for the new update site. Otherwise I think we'd need some sort of html hackery on

[2019-10-05 14:00] echebbi commented on #79
That's unfortunate. According to [Bintray's documentation](https://jfrog.com/knowledge-base/how-to-configure-a-custom-cname-in-bintray/) adding a CNAME 1) would require a Premium account and 2) is unavailable for `dl.bintray.com` URLs.

@hcoles considering uploading to the S3 bucket instead, could you grant me the access?

@philglover the main reason why I'd like to keep the update site on http://

[2019-10-05 22:52] echebbi commented on #79
@hcoles, @philglover and I managed to update the Eclipse Marketplace so that it now points to Bintray, hence I believe that this issue is solved and that you don't have to bother with the S3 bucket.

[2019-10-06 13:19] echebbi commented on #66
The new `2.0.0` release is now available and can be installed either from the Eclipse Marketplace and from its update site. See [README](https://github.com/pitest/pitclipse#installation) for further details.

[2019-10-06 13:19] #66 closed

[2019-10-06 13:42] echebbi commented on #64
Pitclipse `2.0.0` has just been released and is now available in the Eclipse Marketplace.

I'll close this issue once an alternative for the current PIT Summary view is available — I took the liberty to update issue's title accordingly.

[2019-10-07 09:19] hcoles commented on #79
@echebbi Excellent, I'll stop trying to remember how to administer S3.

[2019-10-07 21:29] #79 closed

[2019-10-11 12:01] LorenzoBettini commented on #76
Hi

I've just tried that and it works great! :)

Just one problem though: there are 3 features in this update site I thought that installing Pitclipse UI would be enough but then I get exceptions while running due to missing listeners. It looks like all of them must be installed and this is kind of confusing...

[2019-10-11 14:42] echebbi commented on #76
Hi

Good news!

The three features are indeed mandatory, however I thought I added dependencies from `Pitclipse UI` to `Pitclipse Core` to force Eclipse IDE to install the three of them, even if only `Pitclipse UI`. I will check that.

I can understand that. I decided to provide three features so that users which would like to use only PIT or to run Pitclipse in an headless mode could install only

[2019-10-11 15:01] LorenzoBettini commented on #76
Typically "Developer Resources" corresponds to source bundles (if you use Tycho, that's the name of the source features), so the two categories could be misleading.

I think the important point is that the UI feature, which is meant to be installed in Eclipse, contains the other two mandatory features.

If I understand correctly both UI and Core depends on the Pitest feature right?

Thus, the impo

[2019-10-11 15:05] LorenzoBettini commented on #76
From what I see here https://github.com/pitest/pitclipse/blob/master/features/org.pitest.pitclipse.ui.feature/feature.xml the UI feature does NOT include the Core feature, and the Core feature https://github.com/pitest/pitclipse/blob/master/features/org.pitest.pitclipse.core.feature/feature.xml does not include the Pitest feature, that's the problem.

In general, your features should "include" oth

[2019-10-11 17:40] echebbi commented on #76
Thanks for the explanations!

Thank you, I am a bit busy at the moment but I believe that I should be able to handle the issue by Monday. May I ask you to review the changes once I'm done to make sure I declared dependencies properly? Alternatively, any PR will be gladly accepted if you want to contribute.

[2019-12-20 16:10] alexrun commented on #73
@echebbi please give more details to try to follow your proposal

[2019-12-20 23:24] echebbi commented on #73
Sure!

Basically, Pitclipse works by launching Pitest in a background VM (I think that's mandatory to set Pitest's environment properly). The idea would be to, when the user launches Pitest:

1. Search project's classpath for JUnit 5
2. If JUnit is in the project's classpath, add [pitest-junit5-plugin.jar](https://github.com/pitest/pitest-junit5-plugin) to Pitest's classpath so that JUnit 5 tests

[2020-01-10 10:07] MahatmaFatalError commented on #74
The issue is still there with eclipse 2019-12 (Java 8, junit 4.12)
<img width="669" alt="Bildschirmfoto 2020-01-10 um 11 02 52" src="https://user-images.githubusercontent.com/776825/72144570-ec41c400-3398-11ea-86b4-9faadf38e772.png">

[2020-01-10 10:59] echebbi commented on #74
Thanks for confirming that this is still an issue. Sadly I can't reproduce it: Pitclipse works as expected on my side. Do you have the same stacktrace as the others? My tests may not cover your use case; could you share a code sample that raises the error?

[2020-01-10 13:06] echebbi commented on #74
Thanks for adding the stacktrace; not sure that the issue comes from Pitclipse per se. Pitest is calling [ClassNode's default constructor](https://github.com/consulo/objectweb-asm/blob/8d7cc0fff4efdfb685244679553dddac0fa4517b/asm-tree/src/main/java/org/objectweb/asm/tree/ClassNode.java#L142) which in turn calls [ClassVisitor's constructor](https://github.com/consulo/objectweb-asm/blob/8d7cc0fff4ef

[2020-01-13 17:40] MahatmaFatalError commented on #74
Thanks echebbi, the project you provided works on my machine. I will give you more details on my project throughout this week.

[2020-01-21 15:20] LorenzoBettini commented on #79
@echebbi so is http://eclipse.pitest.org/release/ containing the new releases from now on?

[2020-01-22 08:15] echebbi commented on #79
@LorenzoBettini new releases will be published on https://dl.bintray.com/kazejiyu/Pitclipse/updates/

[2020-01-22 08:28] LorenzoBettini commented on #79
@echebbi thanks! I see it's also in the main README (sorry, I had missed that).

[2020-02-05 14:11] LorenzoBettini opened #91 "Log4j2 packages should be excluded by default"
## Motivation

Currently, the launch configuration excludes by default the following packages `java.util.logging, org.apache.log4j, org.slf4j, org.apache.commons.logging` but in Log4j2 the package for logging is different: `org.apache.logging.log4j`, and you get survived mutants when removing Log4j2 logging statements.

## Proposed Solution

`org.apache.logging.log4j` should be excluded as well by

[2020-02-05 14:58] #91 closed

[2020-02-05 16:05] LorenzoBettini commented on #91
I was wondering if we could have a new release with this change

[2020-02-05 16:18] echebbi commented on #91
I should have the time to release a new version by tomorrow

[2020-02-06 09:13] echebbi opened #96 "Provide a changelog"
## Motivation

Differences between releases are unclear.

## Proposed Solution

A changelog file should describe changes per releases with links to corresponding PRs.

[2020-02-06 09:22] #76 closed

[2020-02-06 10:06] echebbi commented on #91
@LorenzoBettini I just release Pitclipse 2.0.1 which should include this improvement.

[2020-02-07 10:27] LorenzoBettini opened #99 "Don't store pitest JARs in the Git repository"
## Motivation

Currently the pitest JARs are part of the Git repository and I guess updating to a new version of pitest requires manually downloading JARs and updating the MANIFEST

## Proposed Solution

By using `maven-dependency-plugin` we can specify pitest dependencies in the POM and then have the Maven plugin create a `libs` folder inside the project (which would be excluded from Git); JARs c

[2020-02-10 11:15] LorenzoBettini commented on #77
It's already possible to store a Pitclipe launch configuration in a project, but one cannot specify in the launch configuration the set of mutators to enable (by the way, it would be great to have a finer grain control on mutators to enable, e.g., for excluding/including single mutators, but probaly that's a separate issue?). I think having the set mutators (default, stronger, all) in the launch c

[2020-02-12 12:01] #99 closed

[2020-02-12 18:20] echebbi opened #103 "Don't store Cucumber JARs"
## Motivation

Storing bare JARs inside the Git repository makes harder to upgrade dependencies.

## Proposed Solution

Pitest's JARs have recently been removed from the repository (see issue #99, fixed by PR #101); the same approach should work for Cucumber's JARs.

[2020-02-12 18:22] echebbi commented on #74
Hi @MahatmaFatalError, any news on this?

[2020-02-12 18:57] echebbi commented on #77
True, but I would consider the following points:
 - leaving RCP developers aside, I'm not sure that most Eclipse IDE users use or are even aware of launch configurations (disclaimer: I don't have any study or experience to support this point, it's just a personal feeling),
 - dedicated UI forms are easier to edit than XML (AFAIK there's no editor for launch configurations),
 - Pitclipse allows to

[2020-02-13 07:47] LorenzoBettini commented on #77
First of all, I agree this feature would be really nice

well, launch configurations are a crucial part in the Eclipse workbench, thus the users should be aware of that (including the fact they can store such configurations in the projects) ;)

launch configurations are meant to be edited through the Eclipse dialog, not directly

mh... I didn't know that... or maybe I don't understand what you say

[2020-02-13 07:54] LorenzoBettini commented on #103
I was about to open such issue myself ;)
Do you need help on this?

[2020-02-13 09:43] echebbi commented on #77
Excuse me, I misunderstood you.

I took a deeper look and in fact it's not _all_ projects in the workspace but rather "selected project and the projects in its classpath". To activate this "mode":
 1. Window > Preferences > Pitest > Check _All projects in workspace_ under _Pit execution scope_
 2. Create two Java projects with some tests and add the second to the classpath of the first
 3. Run Pit

[2020-02-13 09:47] echebbi commented on #103
I think I should be able to follow your example to fix this, thank you

[2020-02-13 18:10] MahatmaFatalError commented on #74
@echebbi Thanks for your support, I found a public sample project where the error is reproducible: https://github.com/SAP-samples/cloud-bulletinboard-ads/tree/solution-4-Create-ServiceTests

When I run [this](https://github.com/SAP-samples/cloud-bulletinboard-ads/blob/solution-4-Create-ServiceTests/src/test/java/com/sap/bulletinboard/ads/controllers/AdvertisementControllerTest.java) test as PIT Mu

[2020-02-15 18:44] #103 closed

[2020-02-17 13:46] lepsistemas commented on #74
Same here.

Sometimes I think it may be something about permission when trying to write the report, since Pitclipse finds the tests and apparently executes and coverage them.

OS: Ubuntu 18.04.3 LTS
IDE: Eclipse 2019-03
openjdk version "1.8.0_212"
OpenJDK Runtime Environment (Zulu 8.38.0.13-CA-linux64) (build 1.8.0_212-b04)
OpenJDK 64-Bit Server VM (Zulu 8.38.0.13-CA-linux64) (build 25.212-b04, mi

[2020-02-17 13:56] echebbi commented on #74
Thanks for your feedbacks, I'll take a deeper look at this in the incoming days

[2020-02-17 21:44] echebbi opened #105 "SonarCloud does not gather coverage anymore"
## Bug description

SonarCloud always report 0% coverage

## Expected behavior

SonarCloud should report the right coverage.

## How to reproduce

Build an internal branch/PR on Travis CI.

## Additional context

It looks like Sonar team has deprecated usage of JaCoCo's `.exec` files and doesn't take them into account anymore. [Here](https://community.sonarsource.com/t/coverage-test-data-importing

[2020-02-18 01:17] #96 closed

[2020-02-18 07:53] LorenzoBettini commented on #105
@echebbi the jacoco-maven-plugin provides the goal `report` to do that (automatically bound to the `verify` phase): you just have to enable such a goal in the configuration of the plugin.

[2020-02-18 09:32] echebbi commented on #85
Actually, we should even be able to test every component in isolation. Moreover, I believe that we do not have to test a lot of different projects with different classes and tests: we do not want to test Pitest's behavior but rather ensure that we are able to communicate with it.

Hence, UI tests should mostly serve as E2E tests and we should only require a few of them to make sure Pitest is prope

[2020-02-18 12:25] echebbi commented on #105
Yes, that's what is advised by the Sonar team. I gave it a try but can't make it work: either the XML report is not generated or I face errors like `Unknown block type c0` or `malformed input around byte 2`.

Upgrading the JaCoCo plug-in to the latest version didn't help so I must be doing something wrong. I'll take a deeper look when I'll have more time.

[2020-02-18 14:10] echebbi commented on #74
@MahatmaFatalError, @lepsistemas, @LorenzoBettini

I just released `v2.0.2` which should fix the issue. Could you test it and confirm that it works?

[2020-02-18 15:28] MahatmaFatalError commented on #74
@echebbi Thanks for the fast update, however, the fix does not work for me:
[code]
![image](https://user-images.githubusercontent.com/776825/74749956-3dcc5100-526b-11ea-8084-4dd09d181739.png)

BTW, the Animals sample project you provided doesn't work either with the same exception.

[2020-02-18 15:40] LorenzoBettini commented on #74
@MahatmaFatalError that `Pitest 1.4.6` looks suspicious to me: Pitest has been updated to 1.4.11 in https://github.com/pitest/pitclipse/commit/cc79b0f581783959717bde55457e816d39ed3792

@echebbi version 2.0.2 ships with Pitest 1.4.11 doesn't it?

[2020-02-18 15:47] LorenzoBettini commented on #74
@echebbi by looking at the update site we have https://dl.bintray.com/kazejiyu/Pitclipse/releases/2.0.2/features/:org.pitest.feature_1.4.6.jar (this corresponds to the feature `Pitest` in the above screenshot), so the version number is wrong: it is the same as the previous version, thus p2 does not update that feature and then you get the old version of pitest, leading to the class not found error

[2020-02-18 15:48] LorenzoBettini commented on #74
@echebbi @MahatmaFatalError at least that's my interpretation of the problem, I can't try that myself now.

[2020-02-18 17:15] echebbi commented on #74
@LorenzoBettini yes, version 2.0.2 ships Pitest 1.4.11. I believe that the number 1.4.6 comes from the [`feature.xml`](https://github.com/pitest/pitclipse/blob/e74d73e12f3a11eb64fe75efbebbde989e6eb0be/features/org.pitest.feature/feature.xml#L5) file which I forgot to update.

It actually looks like the `pitest-command-line.jar` is missing; I don't understand why as I successfully used Pitclipse fr

[2020-02-18 17:49] echebbi commented on #74
That being said, it looks like my local update site provides the Pitest plug-in v1.4.11 as expected:

![image](https://user-images.githubusercontent.com/25926433/74762531-55f99b80-527e-11ea-83ec-fd042aa10490.png)

whereas the update site deployed online provides Pitest 1.4.6:

![image](https://user-images.githubusercontent.com/25926433/74763044-4cbcfe80-527f-11ea-9aa5-561b6f161e42.png)

even thoug

[2020-02-18 18:26] echebbi commented on #74
Ok, 2.0.2 deployed again and works as expected, sorry for the inconvenience. @MahatmaFatalError could you please try again?

[2020-02-18 18:48] MahatmaFatalError commented on #74
I reinstalled Pitest 1.4.11 and Pitclipse 2.0.2  and now it functioning! Great work, highly appreciated! 👍

[2020-02-18 22:01] echebbi commented on #74
Great, I'm glad the issue is finally fixed. Thanks for your feedbacks.

[2020-02-18 22:01] #74 closed

[2020-03-01 17:57] #52 closed

[2020-03-01 18:02] echebbi opened #114 "Provide a finer grain control on mutators to enable"
## Motivation

As suggested by @LorenzoBettini in #77 ([here](https://github.com/pitest/pitclipse/issues/77#issuecomment-584073984))

## Proposed Solution

Enhance the preferences page with a table displaying the full list of options (we should be able to support [all the options offered by Pitest](http://pitest.org/quickstart/commandline/)) which a checkbox to enable/disable each.

[2020-03-01 23:38] #73 closed

[2020-03-01 23:40] echebbi commented on #73
Support for JUnit 5 is finally there! Upgrade Pitclipse to `2.1.0` to benefit from it. Please create new issues if you face any problem.

[2020-03-27 18:30] edmilson-teixeira commented on #74
Thank you @echebbi it fixed for me as well.

[2020-05-30 02:06] rscar051 opened #115 "WARNING: An illegal reflective access operation has occurred"
Connecting to: localhost/127.0.0.1:53545
Connected
Received request: PitRequest [options=PitOptions [reportDir=C:\Users\rache\eclipse-workspace\.metadata\.plugins\org.pitest.pitclipse.core\html_results, classUnderTest=dateP.DateTest, classesToMutate=[dateP.Date, dateP.DateExceptionTest, dateP.DateTest, dateP.DateUnitTest], sourceDirs=[C:\Users\rache\OneDrive\summer 2020\SEG\date\Date\src, C:\Users

[2020-05-30 09:31] echebbi commented on #115
Thanks for the report! This issue looks similar to #74; it seems from the stacktrace that you're using an old version of Pitclipse so I would suggest upgrading to the lastest (2.1.0).

If that does not solve the issue, could you please:

 - check that you have installed the latest version of Pitclipse (Pitclipse 2.1.0, which embeds Pitest 1.4.11) from _Help > About Eclipse IDE > Installation Detai

[2020-06-11 20:18] hobsojam opened #116 "Junit5 support for maven project"
## Motivation

Related to change request 73, I would also like to use junit5. The current implementation (2.1.0) works only in the case that the .classpath includes org.eclipse.jdt.junit.JUNIT_CONTAINER/5 which is a good solution but unfortuantely does not work for mvn or other projects that have junit explicitly added as a jar instead of the eclipse bundle.
It is possible to hack around in the .c

[2020-06-12 09:34] echebbi commented on #116
Thanks very much for the proposal, this should indeed be covered! I don't know how M2E (the plug-in providing Maven support) deals with classpath so I'll have to check it out.

I also thank you for having taken the time to take a look at the code and suggest concrete changes, that's appreciated. If I may give a few comments:
 - [PitCoreActivator#L141-145](https://github.com/pitest/pitclipse/blob/1

[2020-06-17 18:22] ebramirez opened #117 "Update Pitest to 1.5.2"
## Motivation

The current version bundled version, 1.4.11, does not work in my setup while running the gradle plugin using 1.5.2 works.
I upgraded the gradle version after encountering this error in [stackoverflow](https://stackoverflow.com/questions/62323783/pitest-issue-property-mainclass-is-final-and-cannot-be-changed-any-further):

## Proposed Solution

Update the pitest bundled version to 1.

[2020-06-18 20:47] echebbi commented on #117
I see no problem in upgrading embedded Pitest's version however I don't understand how it would help you. Isn't the issue related to Pitest's Gradle plug-in rather than to Pitest itself?

I actually suspect that Pitclipse does not behave as expected with your project because it is likely not aware of Gradle dependencies. Could you detail what you mean by "does not work" and the error/logs you have

[2020-06-19 09:44] ebramirez commented on #117
Hi,

It could be the version of the Gradle plug-in, but I have no way of trying because the version 1.4.X of the plugin/pitest does not work either in Gradle.

By not working I mean that I can run the tests using the PIT Mutation Test Launch configuration, but I get this result:
![Captura de pantalla de 2020-06-19 11-42-39](https://user-images.githubusercontent.com/42619854/85119420-44ff6d80-b211-

[2020-06-19 12:31] echebbi commented on #117
Thank you very much for providing the full log. Tests are wrote with JUnit 5, aren't they? This is not reflected in the configuration you gave in StackOverflow but the logs show dependencies to JUnit Jupiter.

That matters because Pitclipse has to explicitely tell Pitest whether tests are written in JUnit 4 (default) or JUnit 5. The issue is that, currently, Pitclipse doesn't check dependencies fe

[2020-06-19 12:40] ebramirez commented on #117
Thanks for the quick response.

The StackOverflow question is not mine, I just found it while searching for the some guidance.

Yes, the tests a written in JUnit5 and is configured as such in Gradle:
[code]

How do I configure that in Pitclipse?

[2020-06-19 13:20] echebbi commented on #117
Currently you can't: I'll work on this as soon as possible. Meanwhile, a possible workaround might be to add the JUnit 5 library to the project:

1. Right-click on the project > Build Path > Add libraries...
2. JUnit > Next
3. Select JUnit 5 > Finish

But it will likely caused conflicts with the JUnit 5 JARs pulled by Gradle.

Sorry for the inconvience, I'll keep you updated as soon as a fix is av

[2020-06-23 20:03] echebbi commented on #115
@rscar051 any news on this? Without new inputs I'll consider this issue as a duplicate of #74 and will close it.

[2020-06-23 23:45] echebbi commented on #116
I've just deployed a new `2.2.1` version which is able to detect when `junit-jupiter-engine*.jar` is added to the classpath. Could you test it and confirm that it fixes the issue?

If you still face an issue, could you provide a sample project on which the analysis fails?

[2020-06-23 23:48] echebbi commented on #117
I've just deployed a new `2.2.1` version which should detect JUnit 5 even when provided by Gradle (but doesn't embed Pitest 1.5.2 yet). Could you test it and confirm that it does fix the issue?

If it doesn't, would you mind sharing a sample project where the analysis fails?

[2020-06-24 06:36] ebramirez commented on #117
I can confirm that this works now in Eclipse 4.16.

Thank you very much @echebbi!

[2020-06-24 06:36] #117 closed

[2020-06-26 10:34] hobsojam commented on #116
Tested, works great for me, thanks :)
Note that there is another (annoying) maven case which misuses the .classpath file, with an entry along these lines &lt;classpathentry kind="con" path="org.eclipse.m2e.MAVEN2_CLASSPATH_CONTAINER"&gt; which is maybe worth commenting on the documentation as a potential problem if other people find it not working.

[2020-06-26 10:34] #116 closed

[2020-06-26 15:40] echebbi commented on #116
I wasn't aware of this case, thanks for the warning. I don't think it can cause issues but I'll check it just in case.

[2020-08-18 16:10] LorenzoBettini commented on #116
Hi, probably I don't understand how this is supposed to work, so do you have a working Eclipse/Maven project with Junit 5 where Pitclipse works?
In my case it doesn't work and as far as I know

[code]

is standard in an Eclipse/Maven project...

when running PIT on a project using JUnit 5 the
`.m2/repository/org/junit/jupiter/junit-jupiter-engine/5.6.2/junit-jupiter-engine-5.6.2.jar`
is detected o

[2020-08-18 16:13] LorenzoBettini commented on #116
you meant `2.1.1` right?

[2020-08-18 17:03] LorenzoBettini commented on #116
So it looks I have to manually install from the update site the bundle (not feature) `org.pitest.pitest-junit5-plugin`. But this looks like a bug to me: at least one Pitclipse feature should require this bundle...

[2020-08-18 17:09] LorenzoBettini commented on #116
mh... let me guess: you have published the feature `org.pitest.feature` several times (in different composite sites) with the same version 1.4.11 but with different contents (i.e., requirements of `org.pitest.pitest-junit5-plugin`), have you?

[2020-08-18 17:43] echebbi commented on #116
`2.1.1` seems indeed to be the latest release, my apologies for the typo. It looks like I forgot to push the code though.

I plead guilty... b0b49a2 adds the `org.pitest.pitest-junit5-plugin` plug-in to the `org.pitest.feature` feature but doesn't bump the version of the feature.

I just tested on a fresh 2020-06 installation; running the analysis on a project generated from the [`uk.co.markg.arch

[2020-08-19 15:49] LorenzoBettini commented on #116
I think you've just been lucky: I've also tried clearing my p2 cache and try to install pitclipse from the composite update site from scratch, but junit5 support wasn't installed automatically... I guess p2 first used the metadata from the previous feature (maybe because it contacted the old composite's child first, 2.0.0) and did not see the additional junit5 requirement.

Summarizing, please tak

[2020-09-27 06:03] sendkumaranil opened #119 "An internal error occurred during: "Launching MyTest". JUNIT5_CONTAINER_PATH"
## Bug description

## Expected behavior

## How to reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Additional context

- **Pitclipse version**:
- **Eclipse IDE version**:

[2021-01-19 10:01] LorenzoBettini opened #120 "Pitclipse JUnit 5 support cannot be (easily) installed"
## Bug description

This is a follow-up of #116 but I decided to create a new issue to draw attention. I think this should be marked as **critical**.

The current version 2.1.1 deployed to the composite and main update site https://dl.bintray.com/kazejiyu/Pitclipse/updates/ will not allow you to properly and easily install JUnit 5 support of pitclipse (that is, the bundle `org.pitest.pitest-junit5

[2021-01-19 10:11] LorenzoBettini commented on #120
And by the way, the versions in the git repository are still `2.1.0`?

[2021-03-10 13:26] LorenzoBettini opened #121 "Switch from Travis to GitHub Actions"
## Motivation

Travis free plan has radically changed

## Proposed Solution

Let's switch to GitHub Actions for building. I can set up the workflow in a PR

[2021-03-10 13:30] LorenzoBettini opened #122 "Switch from Bintray to GitHub Pages for serving the Eclipse update site"
## Motivation

Bintray is shutting down, so we cannot serve the Eclipse update site from there...

## Proposed Solution

I suggest we switch to GitHub Pages for the Eclipse (composite) update site. I already have a working example for that. This requires creating a new GitHub repository for hosting the update site (@hcoles, @echebbi I think I can create that myself in the organization with my admi

[2021-03-10 14:02] LorenzoBettini commented on #122
You mean my Eclipse email address? It's the one in the commits lorenzo.bettini gmail

We could, but that would make the main repository heavyweight that's why I'd avoid that (not to mention that we might hit the GitHub limitations if we store the update sites in the same repository of the main code) ;)
The experiments are making are based on another GitHub repository and I found that procedure muc

[2021-03-10 14:22] echebbi commented on #122
Yeah, looks like your email address was enough, you should have the rights now.

Understood, makes sense!

Great, thank you. I think we should also take the opportunity to automate the deployment through GitHub Actions (e.g. each time a tag is pushed to master).

For the record here are some deployment-specific stuff that should be removed:
 - the [_.travis/build.sh_](https://github.com/pitest/pit

[2021-04-17 14:06] helmutneukirchen commented on #64
As above "libwebkitgtk" is mentioned: on my Debian Buster, I had to install the package "libwebkit2gtk", and then everything worked..)

[2021-04-26 16:21] ebramirez commented on #122
Hi @LorenzoBettini and @echebbi,

How is this moving along?
The update site is no longer responding.

[2021-04-26 18:55] echebbi commented on #122
I have a bit of free time this week so I should be able to tackle this.

@LorenzoBettini I don't have the rights to create a new repository in the _pitest_ organization, can you create it?

[2021-04-27 08:15] LorenzoBettini commented on #122
@echebbi I don't have it either :(

Maybe @hcoles can create that or can give us the rights to do that?

I might have some free time from this Friday, please let me know if I can do anything.

Remember that first we should:

- merge the branch where Jupiter support has been added
- use reproducible build qualifiers in version numbers

[2021-04-29 15:28] echebbi commented on #122
I'll do that tonight. I may also have the time to work on the deployment to GitHub Pages; can I proceed or are you already doing things on your side?

[2021-04-29 15:31] echebbi commented on #120
Looks like I never took the time to merge the `116-detect-junit5-provided-by-maven-or-gradle` branch...

For sure. I got rid of them because I thought it was cleaner to just update the version number but it truly was a terrible idea and it caused a real mess. Thank you for the insights, you can be sure I won't reoffend.

[2021-04-30 04:53] echebbi opened #123 "Upgrade Pitest version"
## Motivation

Looks like we missed a few Pitest releases. At the time of writing the latest is [1.6.6](https://search.maven.org/artifact/org.pitest/pitest/1.6.6/jar) whereas we're still using Pitest 1.4.11

## Proposed Solution

Upgrade the version used in [bundles/org.pitest/pom.xml](../blob/master/bundles/org.pitest/pom.xml) and [features/org.pitest.feature/feature.xml](../blob/master/features/

[2021-04-30 07:30] echebbi commented on #122
@LorenzoBettini I updated the POM files to automate the deployment of a composite update site to a GitHub repository. I didn't try to actually deploy the p2 repo but `mvn verify -P release-composite` seems to create the update site as expected. The GitHub Actions are still missing and I won't have time for that before tomorrow so feel free to take over if you have some free time today.

My current

[2021-04-30 07:52] LorenzoBettini commented on #122
Hi, I can work on parallel things today. I can take care of GitHub Actions workflow. I'll also review your changes. There's still to configure the two additional GitHub repositories to serve GitHub Pages from the `master` branch.

[2021-04-30 08:39] echebbi commented on #122
Great, thank you!

I just took care of it, should be working now.

[2021-04-30 12:53] LorenzoBettini commented on #121
Closed by https://github.com/pitest/pitclipse/pull/125

[2021-04-30 12:53] #121 closed

[2021-04-30 13:53] #120 closed

[2021-05-06 12:14] #122 closed

[2021-05-06 12:31] LorenzoBettini commented on #122
OK!
So we now have the new update site https://pitest.github.io/pitclipse-releases/
and the MarketPlace entry has been updated as well!
Happy mutation testing! :)

[2021-05-06 12:34] LorenzoBettini commented on #63
I cannot reproduce it anymore so I'd close this.
Please feel free to reopen it in case you still have the problem

[2021-05-06 12:34] #63 closed

[2021-05-06 12:53] ebramirez commented on #122
Thanks a lot @LorenzoBettini @echebbi!

[2021-05-06 13:52] LorenzoBettini commented on #81
Following https://github.com/pitest/pitclipse/pull/125#issuecomment-830055573 here are my findings:

- UI tests seem to work on Windows
- Some UI tests fail on macOS, but not the ones related to the PIT Summary view (I guess mostly related to some menus that are not found, maybe "Preferences" that in macOS' Eclipse is in another point?)
- Tests related to the PIT Summary view consistently fail on

[2021-05-06 13:54] LorenzoBettini commented on #105
I can re-enable SonarCloud analysis from GitHub Actions, but that requires using Java 11. I hope that doesn't break anything ;)

[2021-05-06 13:56] LorenzoBettini commented on #85
Shall we close this and keep on working on https://github.com/pitest/pitclipse/issues/81?

[2021-05-06 14:00] LorenzoBettini commented on #105
By the way, to do this, @echebbi I'd need you to create a secret in this repository called named `SONAR_TOKEN` with the value of your SonarCloud token (since the analysis is hosted on your SonarCloud's account).

[2021-05-06 15:50] LorenzoBettini opened #128 "Build also on Windows and macOS"
## Motivation

On GitHub Actions we can build and test also on Windows and macOS

## Proposed Solution

On such platforms we can build only on PR and PR merge

[2021-05-06 22:19] echebbi commented on #81
I fully agree. Cucumber here makes testing and debugging specific scenarios a bit clunky.

Just for the record I remember having faced issues with tests on Windows as well, even if it was unusual.

[2021-05-06 22:30] echebbi commented on #85
I'm not sure about that. I envisioned closing this issue by replacing most of UI tests by direct calls to Pitclipse objects. Even if #81 removes a lot of tests I believe that the Maven build would still benefit from such improvements.

[2021-05-06 22:39] echebbi commented on #105
@LorenzoBettini `SONAR_TOKEN` is now available on this repository.

By the way, what will be the consequences of migrating to Java 11 for the end users? I guess that they would at least need Java 11 to run the plug-in?

[2021-05-07 06:47] LorenzoBettini commented on #105
Thanks! I'm about to try that

No consequence: the important thing is the required Java version in our bundles, which is Java 8. End-users need at least Java 8, they DON'T need Java 11. We only need to use Java 11 for building (actually only for running the SonarCloud analysis). The bytecode is generated to require Java 8. By the way, using Java 11 for building also has the benefits of switching t

[2021-05-07 06:49] LorenzoBettini commented on #85
OK, let's leave it open :)

[2021-05-13 16:10] LorenzoBettini commented on #85
I'm working on #81 (by removing Cucumber tests and writing SWTBot tests directly). So far so good :)
tests are much less flaky (the SWTBot timeout had to be increased but at least everything seems to be much more synchronized and deterministic), see https://github.com/pitest/pitclipse/tree/task_81-UI_tests_randomly_fail

By the way, each single test method can be run in isolation :)

Concerning th

[2021-05-14 08:25] LorenzoBettini commented on #85
So I created a PR (#134) for #81 that would be great to be merged soon.
Concerning this issue, I've also started working on that on this branch https://github.com/pitest/pitclipse/tree/task_85-Speed_up_UI_tests (the branch is based on the one of #134).
Now we have 3 test projects that are imported during the SWTBot tests. This has these advantages (IMHO):

- Importing an existing project is much f

[2021-05-14 08:27] LorenzoBettini commented on #123
Once #134 has been merged (and we thus have UI tests) I can work on this and upgrade PIT to the latest release

[2021-05-14 08:50] LorenzoBettini opened #135 "Fix a few SonarQube issues"
## Bug description

We have several SonarQube issues that I'd like to fix.

I'll do that on top of the branch https://github.com/pitest/pitclipse/tree/task_85-Speed_up_UI_tests where we have lots of tests (including UI tests) so I'm more confident I won't break anything.

[2021-05-15 13:56] LorenzoBettini opened #136 "Get rid of Guava?"
## Motivation

Do we really need Guava? With Java 8 we could do without.
While working on #135 I have already gotten rid of Guava Optional (in favor of Java 8 Optional, as reported by Sonar); similarly for Guava Object that can be replaced by Java Objects.

We could also do without Immutable Collections, couldn't we? Do we really need Immutable Collections properties?

My main concerns about our u

[2021-05-15 14:15] LorenzoBettini commented on #136
Of course we could keep Guava in tests if that's strictly necessary

[2021-05-15 17:29] echebbi commented on #136
Guava is only there for legacy reasons. Now that Pitclipse relies on Java 8+ I see no obvious reason to keep the dependency to the library.

[2021-05-15 17:38] echebbi commented on #85
Great! And happy to see that the CI seems to handle this as expected. I tried the "import project" option with Travis some time ago but faced strange issues were I couldn't import projects programmatically because "the disk is read-only" and never managed to overcome them.

[2021-05-16 08:22] LorenzoBettini commented on #85
Probably because you were importing the original project: in my solution we import a copy

[2021-07-08 13:57] JKutscha opened #137 "PITclipse not working if launched from source code"
## Bug description

When PITclipse gets launched from the source code it does not work.

I'm not sure if this is the right place to write this, if not please point to the right place.

## Expected behavior

Launch PITclipse and see an working result.

## How to reproduce

Steps to reproduce the behavior:
1. Followed instructions to clone code
2. Launch Eclipse Application
3. Start PITClipse for te

[2021-07-09 08:00] JKutscha commented on #137
Today I did everything the same on my Linux pc and it works fine. Maybe it is an Issue with Windows 10?!

[2021-07-09 08:00] #137 closed

[2021-07-09 10:48] JKutscha commented on #123
Hi @LorenzoBettini, now that you can merge #134, will you work on this matter or did you already upgrade the pit version and haven't updated it yet?

[2021-07-09 10:55] JKutscha opened #138 "Maven requirements aren't correct"
## Bug description
The requirements lists Maven 3.x, but you can't use it with Maven 3.0.5.

## How to reproduce

Steps to reproduce the behavior:
1. Install Maven 3.0.5
2. Run mvn or mvn clean verify in the main folder
4. See error

## Fix
Just update the README requirements to Maven 3.1.x or higher perhaps?

[2021-07-09 13:00] #81 closed

[2021-07-09 13:00] LorenzoBettini commented on #123
@JKutscha I still haven't upgraded PIT but I'll try to do that ASAP

[2021-07-09 13:02] LorenzoBettini commented on #138
@JKutscha could you please be more specific on the error you get?
In any case, for sure Maven 3.0.5 is rather old. I think at least Maven 3.6.3 is required.
Of course, if you don't mind, please feel free to create a PR for the README :)

[2021-07-12 06:43] JKutscha commented on #138
The error is the following:

/home/pitclipse[master]$ mvn -e
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[ERROR] The build could not read 2 projects -> [Help 1]
org.apache.maven.project.ProjectBuildingException: Some problems were encountered while processing the POMs:
[ERROR] Child module /home/pitclipse/bundles/org.pitest.pitclipse.core/pom.xml of /home/pitclipse/bund

[2021-07-12 08:38] LorenzoBettini commented on #138
OK, that's probably due to Tycho POMless build that was not supported with earlier versions of Maven

[2021-07-12 08:39] LorenzoBettini commented on #138
Closed by #141

Thanks!

[2021-07-12 08:39] #138 closed

[2021-07-12 08:48] LorenzoBettini opened #142 "Handle Classpath properly and consistently"
Currently, the classpath is generated by org.pitest.pitclipse.core.PitCoreActivator.start(BundleContext) (and also by org.pitest.pitclipse.runner.PitRunnerTest.classPathWithPitestAndJUnit()) by putting the required bundle location and the same required bundle location with the appended "/bin".

This assumes that the ".class" files are always generated into the output "bin" folder, but that's not t

[2021-07-12 08:49] LorenzoBettini commented on #142
For example, even when that test succeeds with older versions of PIT in the Maven build output you can spot:

[code]

[2021-07-12 09:58] LorenzoBettini opened #144 "Disable checkstyle"
We use SonarCloud so we don't really need checkstyle during the build...

[2021-07-12 11:51] #144 closed

[2021-07-12 11:52] #142 closed

[2021-07-12 14:25] JKutscha opened #147 "UI freeze while task :"Reporting PIT results" with huge projects"
## Bug description

The UI of eclipse freezes while the plug in is reporting the results. Probably because of the amount of data.

## Expected behavior
Progress monitor to show some task is going on, but don't block the ui thread.

## How to reproduce

Steps to reproduce the behavior:
1. Run a mutation test for a class
2. wait for mutation
3. while the task "Reporting PIT reults" the ui freezes

#

[2021-07-12 16:23] LorenzoBettini commented on #115
I'm closing this since that seems really related to an old version of pitclipse (and pit)

[2021-07-12 16:23] #115 closed

[2021-07-12 16:24] LorenzoBettini commented on #119
Without further detail I'm closing this, please feel free to reopen this if you still experience the problem with a recent version of Pitclipse. In case, please provide more information

[2021-07-12 16:24] #119 closed

[2021-07-13 06:52] LorenzoBettini commented on #136
NOTE: WorkspaceLevelClassFinder should use ProjectUtils, just like WorkspaceLevelProjectFinder does

[2021-07-13 06:59] LorenzoBettini commented on #85
We should test also project level scope as it used to be, in fact, WorkspaceLevelProjectFinder.java, WorkspaceLevelClassFinder.java, etc are uncovered

[2021-07-14 06:34] JKutscha commented on #114
I would like to work on that topic, but would like to add this in the run config to be more flexible.

[2021-07-14 07:59] LorenzoBettini commented on #114
That's great! But please, keep in mind that you should also write a few UI tests for such new features.
Until https://github.com/pitest/pitclipse/pull/140 is merged to master, you should start from the corresponding branch. You can take inspiration from the tests in the project `org.pitest.pitclipse.ui.tests` and the package `org.pitest.pitclipse.ui.tests`.

[2021-07-14 08:39] LorenzoBettini opened #149 "Alternative mechanism for detecting JUnit5"
As noted in `org.pitest.pitclipse.launch.AbstractPitLaunchDelegate.isJUnit5InClasspathOf(IJavaProject)` we use a naive mechanism for detecting JUnit5 on the classpath.

We could try to load some classes of the JUnit 5 engine by constructing a classloader using the classpath of the Java project.
Something like (untested)

[code]

[2021-07-14 17:45] #123 closed

[2021-07-15 07:46] #85 closed

[2021-07-20 11:55] JKutscha commented on #114
I have looked into it, I just realized there are 150 mutators. Would you think to have full control over them would be nice or should we just present some of them?

[2021-07-20 12:23] echebbi commented on #114
Hey there! Just so you know I've already worked on this feature in the [`114-provide-finer-grain-control-over-mutators`](https://github.com/pitest/pitclipse/tree/114-provide-finer-grain-control-over-mutators) branch. It's a bit old (about 1 year old) so I don't know if it can be rebased on master easily but you should at least be able to reuse some code.

The branch adds a table to the Pit tab in

[2021-07-20 12:42] JKutscha commented on #114
Thanks for the quick reply.

I will take a look at your code and would like to use the mutators from pitest itself from the class "Mutator" in the package "org.pitest.mutationtest.engine.gregor.config". That would bring the benefit, if a new mutator gets added to pitest, the mutator would be selectable without any new implementation in pitclipse.

[2021-07-20 13:04] JKutscha commented on #114
A different idea I had was that you could use the defined groups of the "Mutator" class to have different sections of the selection.

[2021-07-20 13:16] echebbi commented on #147
Most of the work is done in a background Job. My guess is that the UI freezes when the _PIT Mutations_ view is updated with too many mutations. More specifically when [`PitMutationsView.updateView(mutations)`](https://github.com/pitest/pitclipse/blob/fd824b3193e3efb55ec81a9ce7ea10ea4b49150d/bundles/org.pitest.pitclipse.ui/src/org/pitest/pitclipse/ui/view/mutations/PitMutationsView.java#L52) is cal

[2021-07-20 13:21] JKutscha commented on #147
This sounds like a good idea. Should I just remove the expandAll(), test it with my project and if it fixes the issue create a PR?

[2021-07-20 13:58] echebbi commented on #114
Indeed. And Pitclipse wouldn't break if Pitest renamed or removed some mutators. However since Pitest provides neither a human-readable name nor a description of its mutators then we'd still have to implement them anyway (which shouldn't be a big deal, just saying that although it could make upgrading Pitest safer it doesn't remove all the work).

Moreoveor it looks like raw mutators and groups ar

[2021-07-20 14:08] JKutscha commented on #114
Not yet, but I plan to look at this today or tomorrow.

I don't know if it is Api. How would I know if it is? Besides asking in the repo of pitest.

[2021-07-20 14:48] JKutscha commented on #114
For now I will use your implementation and get it working.

[2021-07-21 12:16] LorenzoBettini commented on #114
I think it is crucial to keep this completely maintainable and completely self-updating when updating to a new version of PIT. For this reason, IMHO, we cannot afford to hardcode anything and take what's available from PIT itself. Maybe @hcoles can confirm that there's some kind of API to retrieve Mutators descriptors? I would stick with IDs, which, if I remember correctly should be quite clear to

[2021-07-21 13:14] JKutscha commented on #114
How about a third option: We use the mutators given by pit to build the table for selection and use the hard coded descriptions for all mutators which are currently implemented.

If new ones get added, the description could say: "No description yet, look at pitest.org for more info".

[2021-07-21 14:59] echebbi commented on #114
That would indeed be ideal.

Some IDs are not intuitive at all: _UOI_, _AOR_, _CRCR_. And often not enough to figure out the whole effect of the mutator:

 - _MATH_ (ok, this mutator is likely related to mathematical computations, but what does it mutate exactly?),
 - _TRUE RETURNS_ (it doesn't mutate the `return true` statements as we might expect but instead replace all boolean return by true).

[2021-07-21 20:57] JKutscha commented on #114
We display those mutators in a table, providing for each a human-readable name and a description through custom ColomnLabelProvider.
    We persist the selected group/mutators in the RunConfiguration (i.e., their ID),
    The Pitest runner retrieves the selected mutators from the RunConfiguration and gives their ID to Pitest.

I was talking about this behavior, but wasn't able to describe it good

[2021-07-22 08:35] LorenzoBettini commented on #114
@echebbi as long as any of you commit to keeping it up-to-date I'm perfectly fine ;) O:)

[2021-07-22 08:46] JKutscha commented on #114
I now have looked into it a little more. The problem I see currently there is no way to get the keys of the mutators, which can be given to the cli of pit to use the mutator.

Also it seems to there is no actual naming theme of the keys, which would allow to generate them from their names.
Example:
name: EMPTY_RETURN_VALUES
key: EMPTY_RETURNS
or
name: BOOLEAN_TRUE_RETURN
key: TRUE_RETURNS
or
name:

[2021-07-22 09:25] echebbi commented on #114
@LorenzoBettini Ahah, fine, I'll take care of that.

@JKutscha I haven't noticed that Pitest's `MUTATORS` map is private. Looks like there's no easy way to access it or to browse its keys. So... yeah, I guess we have to hardcode the list of available mutators after all. It would be a shame to hardcode it on our side given that it's already defined in Pitest though.

Would you mind creating an issu

[2021-07-22 10:01] LorenzoBettini commented on #114
Great! :)

For the time being we could do a "dirty" thing: access the map via reflection?

Of course, asking for an API is the best choice!

[2021-07-22 10:39] JKutscha commented on #114
@echebbi I would create the issue and a corresponding PR. This shouldn't be much effort to provide that.

Seeing all the open issues and PRs, my hope of getting it integrated is quite low. At least for the next few days or weeks.

[2021-07-22 14:54] #135 closed

[2021-07-23 02:53] echebbi commented on #114
Thank you very much @JKutscha!

If it's just a matter of days then it's not a big deal. If the PR takes too much time to be integrated or if it's refused then we'll consider another solution. As @LorenzoBettini suggested, reflection could be a quick & dirty fix.

[2021-07-23 05:37] JKutscha commented on #114
@echebbi I implemented it with reflection in the draft and it works. I marked it to be replaced, if the PR is merged and we can use it.

[2021-07-23 10:10] LorenzoBettini opened #154 "Build using the latest Eclipse platform"
As shown here https://github.com/pitest/pitclipse/pull/153 using an old Eclipse TP might get us into trouble in the CI, due to incompatibilities of older versions of Eclipse (mainly SWT) with newer versions of OSes.

We should build against the latest released Eclipse platform, so that we can also benefit from latest bug fixes and improvements.

To make sure Pitclipse is still compatible with olde

[2021-07-23 10:13] LorenzoBettini commented on #154
This will require also updating contribution guide to stress that Java 11 is required for the latest TP

[2021-07-23 13:59] JKutscha opened #157 "Pitclipse creates new LaunchConfiguration even if launch config exists"
I am currently working on tests for #114 and I want to manipulate a run configuration to run the tests.

The first run uses the correct config, but the next create new configurations and cause the tests to fail.

I am not sure why this is happening and when, but I noticed it even using pitclipse by hand.

[2021-07-24 05:57] echebbi commented on #157
Could you detail exactly the steps so that we can reproduce the issue?

If you're talking about running Pit from the contextual menu (right-click on a project > Run As > Pit) then there's indeed an odd behavior. If a run configuration already exists then a dialog opens to ask the user to select an existing configuration. However, even if the user selects an existing configuration, a new one is alw

[2021-07-24 06:31] JKutscha commented on #157
This is the behaviour I meant.

Good to know, thanks :)

[2021-07-26 12:19] #154 closed

[2021-07-27 02:45] echebbi commented on #144
@LorenzoBettini Just noticed this ticket thanks to [your comment](https://github.com/pitest/pitclipse/pull/152#discussion_r676583333) on #152. I have a few comments about it.

Firstly, AFAIK, SonarCloud catches code smells and bad practices whereas CheckStyle helps to enforce coding conventions. To me it looks like they don't fulfil the same purposes, so does that really make sense to get rid of C

[2021-07-27 05:00] LorenzoBettini commented on #144
@echebbi actually I only disabled checkstyle during the maven build because it was generating too much noise in the log. Since it was generating lots of noise I had the impression that no one cared about that, otherwise those warnings had already been fixed ;)

Moreover the output of checkstyle produced in the build in the CI is not stored anywhere so I thought it was useless under that respect.

[2021-07-27 05:57] echebbi commented on #144
I may have extrapolated, but since you said that "we dont use CheckStyle anymore" I understood that you were as well discouraging maintainers/contributors from using it.

I do care but it's true that I overlooked the new violations detected by Checkstyle. That's my bad for not taking the time to clean that up.

I think that it can still be useful when reviewing PR. There's sadly not automatic repo

[2021-07-27 08:25] LorenzoBettini commented on #144
I'm sorry I sounded despotic saying "We don't use checkstyle anymore", I was in hurry and I thought we were not actually using it O:)

if you want we can re-enable it right now in a Maven profile that we run only on the main Linux workflow, what do you think?

[2021-07-27 08:27] LorenzoBettini opened #158 "Update to PIT 1.6.8"
Now that https://github.com/hcoles/pitest/issues/916 has been fixed, we should update PIT to the new version.
This will be crucial for https://github.com/pitest/pitclipse/issues/114

[2021-07-27 09:09] #158 closed

[2021-07-27 12:19] LorenzoBettini opened #161 "SonarCloud for external PRs"
@echebbi a well-known limitation of using SonarCloud from GitHub Actions is that secrets are NOT available for external PRs.
This means that we are not able to scan PRs with SonarCloud (unless we merge them, which might be too late, or recreate a clone PR on this very repository with our push admin rights, which is definitely a huge effort).

I saw that other projects simply put the SonarCloud tok

[2021-07-27 15:58] echebbi commented on #161
Well, since SonarCloud reports issues on code attackers could get access to the full codebase, couldn't they? That's not an issue for public repos, but it could be a threat for private ones. And since, AFAIK, Sonar tokens provide full access to the account (not repository-based restriction) hence exposing all repositories of the owner.

That being said my SonarCloud only has public repo and I don'

[2021-07-27 16:08] echebbi commented on #144
It's all fine :)

We're not in a hurry, I think we can wait until I fix Checkstyle issues (I should be able to tackle this in the incoming days).

[2021-07-28 08:53] LorenzoBettini commented on #114
Now that we use PIT 1.6.8, you can access them without reflection

[2021-07-28 09:01] JKutscha commented on #114
Done, forgot to push that change.

[2021-07-28 09:19] JKutscha opened #164 "Enable option to define a target class"
I would like to add an option to the run configuration, where the user could define specific one or more classes which to mutate.
The option is implemented in pit, but we fill it with the complete class path.

This would allow faster testing in a big project, if only a few classes should be tested.

I would start implementing a simple text field, which could be enabled in the run configuration and

[2021-07-29 06:59] JKutscha opened #165 "Java dependencies don't match"
![grafik](https://user-images.githubusercontent.com/50097340/127446436-7d9b6d9d-7492-4a8a-a061-d0f8c2b8207c.png)

As you can see above, we define Java 11 as a dependency, but in the other plug ins we use Java 8.
I would like to up everything to Java 11.

[2021-07-29 07:00] LorenzoBettini commented on #164
Yes, I guess that would be useful: currently, you can only exclude classes. How would your proposal fit with the current run configuration? Would that live together with the current "Excluded classes" text field?

[2021-07-29 07:03] JKutscha commented on #164
Yes, just like in PIT.

If you are using it via CLI, you need to define both, but currently we just use the classpath for the target classes.

I would make it optional to use the old system by default and only use it, if the user activates it.

[2021-07-29 07:08] LorenzoBettini commented on #165
Actually, we configure all projects to require Java 8, and for the moment that's what we want, since we want Pitclipse to be installable also with just Java 8. We use Java 11 for building, since that's required by the latest Eclipse TP we build against (but we also build against "Photon" that does not require Java 11) and by the latest Tycho.
Those warnings for the moment must be ignored. I'll che

[2021-07-29 07:20] LorenzoBettini commented on #161
OK, let's see first whether I can find an alternative solution (I'm already working on that) and we really can't find another way we'll try with the clear text token

[2021-07-30 11:11] JKutscha opened #168 "Use of the classes: PitclipseMutationsResultListener and SummaryResultListener"
Both of these classes are listening for the results of PIT and I want to understand the thinking behind them.

`PitclipseMutationsResultListener` wraps the existing `ClassMutationResults`, but why not use this directly?

`SummaryResultListener` this is a mystery for me right now, I thought this would just sum up the result and report it, but how is this done and where is it used? We only use the H

[2021-07-30 13:21] #165 closed

[2021-07-30 13:24] LorenzoBettini commented on #168
To be honest I have no idea... if you right-click on the class name in the editor and do "Open Class Hierarchy" or simply "References" in the workspace you have a clue on who's using that

[2021-07-31 07:53] echebbi commented on #168
I believe that Phil Glover wanted to rely on a custom abstraction (the `Mutations` and `Mutation` classes) rather than depending on `ClassMutationResults`, which comes from Pitest.

I see two main pros:

 - the `Mutation` class can have a structure that matches Pitclipse's needs or use different words (e.g., getter `getMutatedClass()` instead of `getClassName().asJavaName()`,
 - if Pitest changes

[2021-07-31 12:41] JKutscha commented on #168
@echebbi Thanks for the explanation.

I would look into the `SummaryResultListener` a bit more and if I find proof that it is not used, I will clean this up and remove it.

[2021-08-07 08:53] echebbi commented on #161
Hey @LorenzoBettini did you find any solution? I believe that having two different PR for a single contribution is highly confusing during reviews. If we don't have any alternative I'm willing to share SonarCloud's token: as I said previously I don't think that's a big deal for me right now since all my repos are public.

[2021-08-07 18:15] echebbi commented on #62
Fixed by #150

[2021-08-07 18:15] #62 closed

[2021-08-08 10:49] echebbi commented on #168
Question seems answered so I'll close this issue.

[2021-08-08 10:49] #168 closed

[2021-08-10 07:40] JKutscha opened #176 "Cycle inside classpath while exporting"
I looked into exporting the plug in, but I was greeted with the following error:
![grafik](https://user-images.githubusercontent.com/50097340/128827276-134c6bf9-ef6a-4b21-a341-ea49b44f0624.png)

After looking at all pom.xml, MANIFEST.MF and build.properties files, I don't understand where this cycle is coming from. Especially because it seems to be a dependency from org.pitest to org.pitest.pitcli

[2021-08-10 16:43] LorenzoBettini commented on #161
I succeeded in analyzing an external PR with SonarCloud (I created a very small project so it was easy to experiment); I've used a mix of `pull_request_target` (note that's different from `pull_request`) and a kind of hack (documented) to get the code of the pull request. Unfortunately, such an analysis does not help at all:

- it does not annotate the PR anyway
- it does not link the issues (and

[2021-08-10 17:19] echebbi commented on #161
That's good to know.

Understood.

[2021-08-14 20:29] echebbi opened #178 "Change PIT timeout without altering SWTBot timeout during tests"
## Motivation

During tests we wait for PIT to end before checking the UI. If PIT runs for too long, we timeout and throw an error (shouldn't happen: just a protection against infinite loops). Currently, the timeout is based on SWTBot's timeout property. Because of that, changing the timeout for PIT also changes the timeout when searching for UI elements through SWTBot. We want to be able to chang

[2021-08-15 15:48] LorenzoBettini commented on #176
As we discussed in #177 we can close this

[2021-08-15 15:48] #176 closed

[2021-08-21 13:20] #114 closed

[2021-08-21 13:38] #178 closed

[2021-12-03 21:18] khushwinder opened #187 "Pitclipse is not detecting testng test cases"
## Bug description

I am trying to use piteclipse in a springboot+ testng project. But it is not detecting testng test cases. Following is the logs:

have installed pitclipse latest version and using macbook. While running "PIT Mutation Test" command from eclipse is not finding any test case in my code. I am using TestNG framework for writing test cases. Please suggest what I am doing wrongly. I h

[2021-12-05 09:09] LorenzoBettini commented on #187
As stated in the main features

"JUnit support: works with both JUnit 4 and JUnit 5 tests"

That is, pitclipse does not support testng

[2021-12-06 05:31] khushwinder commented on #187
Thanks, is there any work in progress for testng?

[2021-12-06 10:20] LorenzoBettini commented on #187
I don't think so, @echebbi ?
I've never used testng myself and as far as I know there's no official support from Eclipse itself (but of course, there's an external plugin)

[2021-12-09 02:19] #187 closed

[2022-01-01 17:29] ykalomari opened #188 "Calculator"
## Bug description

## Expected behavior

## How to reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Additional context

- **Pitclipse version**:
- **Eclipse IDE version**:

[2022-01-01 19:53] LorenzoBettini commented on #188
Without further information I'm going to close this

[2022-01-01 19:53] #188 closed

[2022-02-17 02:25] BenjaminGroseclose opened #189 "Unable to install via Eclipse"
## Bug description

Unable to install Pitclipse via Eclipse Marketplace
![image](https://user-images.githubusercontent.com/21026775/154392453-ec74576f-31ec-4d35-a9f8-62b8bdcc70c9.png)

## Expected behavior

To be able to install via the Eclipse Marketplace

## How to reproduce

Steps to reproduce the behavior:
1. Go to `Help` -> `Eclipse Marketplace`
2. Search for `pitclipse`
3. Click on install
4

[2022-02-17 07:47] LorenzoBettini commented on #189
It might be a temporary network problem... can you please try again?

[2022-02-18 00:35] BenjaminGroseclose commented on #189
Still am seeing the same issue.

[2022-06-23 10:57] contivero commented on #114
Sorry if this isn't the right place, but it seems although this has been merged, it hasn't been released yet (at least it's not part of version 2.1.2 which is the one available on Eclipse). If so, how could I try it (is there any guide on how to build the latest state of this repo and use it in Eclipse)?

There is a bunch of mutators I'd like to enable without going for the "all mutators" option.

[2022-06-23 12:32] LorenzoBettini commented on #114
@contivero you're right: it hasn't been released yet, and I had always forgotten about that. @echebbi do you think it's time we make a new release with the new features? I can do that in the next few days.

[2022-06-27 03:28] justin-firestone commented on #189
I am encountering this issue but still cannot install when I check to contact all update sites. Is there a specific link to the guava libraries I should add to my list of sites?

[2022-06-27 05:01] LorenzoBettini commented on #189
Doesn't it find guava at all or the specific required version?

[2022-06-27 15:36] justin-firestone commented on #189
I get the exact same error message you received from your screenshot.

I'm not familiar with building Eclipse plugins. Is there a way to download the guava library and include it in a build path locally? I tried that by downloading the .jar and adding the local directory for it, but still the same error message.
________________________________
From: Lorenzo Bettini ***@***.***>
Sent: Monday, June

[2022-06-27 18:40] LorenzoBettini commented on #189
Before installing pitclipse in eclipse, you can manually add this update site https://download.eclipse.org/tools/orbit/downloads/2021-06/ and guava will be found with the required version.

[2022-07-20 20:32] MahatmaFatalError commented on #189
Before that I got
[code]

Now I get
[code]

Pitclipse 2.1.2
Spring STS 4.15.1.RELEASE -> Eclipse 4.24.0

[2022-07-22 09:51] LorenzoBettini commented on #189
OK, I'll try to take a look at this ASAP

[2022-07-22 09:54] LorenzoBettini opened #190 "Test with 2022-06"
Test with 2022-06

[2022-07-22 09:59] LorenzoBettini commented on #190
Orbit 2022-06 doesn't provide all we need:

![image](https://user-images.githubusercontent.com/1202254/180415573-58a7180d-aa9d-4ab1-a1c6-f4bec049a6a5.png)

[2022-07-22 10:03] LorenzoBettini commented on #190
We have to use for Orbit 2022-03

[2022-07-22 12:27] LorenzoBettini commented on #190
Mockito 2.23 and Hamcrest 2.2 don't seem to go together fine:

`org.pitest.pitclipse.runner.results.mutations.PitclipseMutationsResultListenerTest`

[code]

So we go back to Orbit 2021-06

[2022-07-23 15:22] #190 closed

[2022-07-24 11:03] ja9563803 opened #192 "Using the eclipse plugin for Pit test in Java. Facing an error - Tests failing without mutation"
Hi,
I am using the eclipse plug in - pitclipse for pit testing in Java.
I created a project using Java SE -1.8 and JUnit 4 for the tests.

The following is my code and tests.

**Code**

        public class trial1 {
        boolean productIsEven(int a, int b){

        int product = 2 %(a * b);
        boolean evenOr = product == 1;
        return evenOr;
	         }
        }

**Tests**

[2022-07-24 16:44] LorenzoBettini commented on #192
It means that some of your tests are failing independently from mutation testing

[2022-07-27 08:12] LorenzoBettini commented on #192
I'm closing this since from what I understand it's not an issue with PIT; in case, please re-open it

[2022-07-27 08:12] #192 closed

[2022-07-27 11:46] LorenzoBettini opened #194 "Use Tycho 2.7.4"

[2022-07-27 11:49] #157 closed

[2022-07-27 12:13] LorenzoBettini commented on #189
It's fixed now!
You don't have to add manually the orbit update site.
I tested the installation of 2.2.0 both in Eclipse Java and Eclipse STS, both from the update site and from the Marketplace.
Thanks for your patience :)

[2022-07-27 12:13] #189 closed

[2022-07-27 14:08] LorenzoBettini opened #195 "Consume PIT Maven artifacts through TP"
Now that PDE (and Tycho) support specifying Maven artifacts directly in the .target file

[2022-07-27 14:21] #194 closed

[2022-07-27 15:17] LorenzoBettini commented on #164
Closed by #197

[2022-07-27 18:44] MahatmaFatalError commented on #189
Big Thanks!

[2022-07-28 13:17] LorenzoBettini commented on #195
I'm experiencing class loading problems in tests, e.g.,

[code]

Maybe due to

[code]

and

[code]

[2022-07-28 13:19] LorenzoBettini commented on #195
In PitRunnerTests I changed the way we load jars

[code]

but again that does not work

[2022-07-28 13:49] LorenzoBettini commented on #195
Another symptom that something is wrong with classloading is this test

[code]

which retrieves an empty set...

[2022-07-28 15:39] LorenzoBettini commented on #195
For the moment, I'm stopping working on that; maybe in the future, I'll get back to that.

[2022-07-28 17:29] LorenzoBettini commented on #149
Actually, it's much easier:

[code]

[2022-07-28 17:41] #149 closed

[2022-07-29 10:01] LorenzoBettini commented on #149
@echebbi I hope you don't mind I'm merging these PRs

[2022-08-02 13:34] LorenzoBettini commented on #147
@JKutscha @echebbi I added the two toolbar buttons for expand and collapse all, see the screenshot

If I don't hear from you I'll merge #200 soon

![image](https://user-images.githubusercontent.com/1202254/182387582-98269c7b-534a-49aa-bf93-69cc805db62e.png)

[2022-08-02 14:20] JKutscha commented on #147
I think this problem should be still there on opening the view the first time or even if it‘s opened in the background.

[2022-08-02 14:23] JKutscha commented on #147
This looks like a good addition. You could try out to expand the tree view just a few levels, just the first or second, if you don‘t want to be collapsed completely. With this the performance should be good enough and would be better than completely expanding the tree.

[2022-08-02 16:39] LorenzoBettini commented on #147
@JKutscha currently the tree is all collapsed by default (to address this issue). One can then expand it step by step manually or expand it all with the button (and in case re collapse it completely with the other button). Does it sound good?

[2022-08-02 20:05] JKutscha commented on #147
@LorenzoBettini works for me. Thanks for implementing.

[2022-08-04 12:28] #147 closed

[2022-08-07 12:36] LorenzoBettini commented on #136
Maybe we can simply reorder the definition of enum values so that we don't need this guava Ordering?

[code]

[2022-08-08 12:26] LorenzoBettini opened #201 "Icons for navigation in PIT Summary view"
Currently, we don't have icons for the navigation buttons in the summary view

![image](https://user-images.githubusercontent.com/1202254/183417253-38fb350a-6316-4ab5-a6f9-138cb8e7b413.png)

[2022-08-08 12:32] LorenzoBettini commented on #201
We could use some of the browser's icons

![image](https://user-images.githubusercontent.com/1202254/183418646-7279e807-4e3f-47f7-bed1-702494465085.png)

[2022-08-09 12:11] LorenzoBettini commented on #136
[code]

to an utils class

[2022-08-23 12:22] LorenzoBettini commented on #201
I created the PR #202 that's the result

![image](https://user-images.githubusercontent.com/1202254/186156840-4ea5c956-96fb-437e-a3c9-c8b7d191301d.png)

@echebbi @JKutscha what do you think?

I also changed the tooltips from "<", ">" to "Back" and "Forward"

[2022-08-23 12:39] JKutscha commented on #201
@LorenzoBettini Looks great. Thanks.

[2022-08-23 13:29] LorenzoBettini commented on #201
@JKutscha thanks for the feedback: I'm merging...

[2022-08-23 13:30] #201 closed

[2022-08-24 14:20] LorenzoBettini opened #204 "Flaky UI tests"
Some UI tests involving the "PIT Mutations" view are flaky, especially in Windows and macOS. The toolbar buttons cannot be found, but that is due to the view itself not being active.

In particular, this condition does not seem to make sense:

[code]

since the return value of `viewByTitle` cannot be null. Instead, if we use as condition `isActive` on the returned view, we get the failing conditio

[2022-08-24 14:45] LorenzoBettini commented on #204
Closed by #203

[2022-08-24 14:45] #204 closed

[2022-08-24 14:48] LorenzoBettini opened #205 "Uncovered UI code"
Tests do not yet cover some code.

Investigate that, especially for #136

[2022-08-28 10:25] LorenzoBettini commented on #136
For .runner project, MutationsModel remains

[2022-08-28 17:59] LorenzoBettini commented on #136
todo org.pitest.pitclipse.ui

[2022-08-29 15:32] LorenzoBettini commented on #136
REMOVED from bundles, now we can remove it from the classpath built when running PIT and from the dependencies of our features (probably also remove the repository reference?)

[2022-08-31 11:48] LorenzoBettini opened #208 "Remove Guava also from tests"
Similar to #136

[2022-08-31 11:49] LorenzoBettini opened #209 "Switch to AssertJ instead of Hamcrest"
AssertJ is much more readable and fluent

[2022-09-02 08:56] #136 closed

[2022-09-19 11:55] Bananeweizen commented on #136
If I got it right, the 2.7.5 fixes the issue. It's meanwhile released, so you may want to upgrade again.

[2022-09-19 12:16] LorenzoBettini commented on #136
@Bananeweizen I'm not sure I understand what you mean related to this very issue

[2022-09-19 12:51] Bananeweizen commented on #136
Sorry for the confusion. The Tycho downgrade from 2.7.4 to 2.7.3 was attributed to this issue. Meanwhile 2.7.5 is released, and I had the understanding that the required/included behavior is as before, making the downgrade to 2.7.3 superfluous.

[2022-09-19 13:50] LorenzoBettini commented on #136
Mh... the downgrade wasn't actually attributed to this issue. However, for sure now I can upgrade to Tycho 2.7.5 :)

[2022-09-19 13:51] LorenzoBettini commented on #136
Oh, now I see that commit. It was part of the branch for this issue, but it's not related to that.

[2022-09-20 10:40] Bananeweizen opened #214 "icon of UX label in bug tracker broken"
The issue label for UX issues is broken. Most labels in the issue tracker have an emoticon embedded, and the "blonde_man" in the UX label seems to be gone, that's why it is not rendered in the link in the next line:
https://github.com/pitest/pitclipse/labels/impacts%3A%20ux%20%3Ablonde_man%3A

[2022-09-20 11:34] LorenzoBettini commented on #214
I've just replaced that with a smile... if you have a better suggestion we can re-open this ;)
thanks!

[2022-09-20 11:34] #214 closed

[2022-09-25 16:20] LorenzoBettini opened #215 "Test failures with Java 17"
These two tests always fail when the underlying JVM is Java 17:

`org.pitest.pitclipse.runner.io.ObjectStreamSocketTest.writeThrowsException()`

`org.pitest.pitclipse.runner.io.ObjectStreamSocketTest.readThrowsException()`

They mock the socket like that:

[code]

The failure is when we call `objectSocket = ObjectStreamSocket.make(underlyingSocket);`

This is the interesting exception trace

[code

[2022-09-25 16:22] LorenzoBettini opened #216 "Build with Eclipse 2022-09"

[2022-09-25 17:22] #216 closed

[2022-09-26 08:39] LorenzoBettini commented on #215
In Java 8 we have

[code]

So `readFully` was not used and we didn't get any exception. Probably it's like that also in Java 11.

[2022-09-26 22:19] ctw3883 opened #218 "Could not find or load main class pitclipse.runner"
## Bug description

Error: Could not find or load main class org.pitest.pitclipse.runner.PitRunnerMain in module XYZ

## Expected behavior

Expect the program to run to see mutation tests

## How to reproduce

Steps to reproduce the behavior:
Run as 'PIT Mutation Test'

I tried this on 2 separate java projects.

I found results but no solution on : https://groups.google.com/g/pitusers/c/SLathUh4v7